body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #checkout-button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #6772e5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  #checkout-button:hover {
    background-color: #5469d4;
  }
  